
<%- include("partials/ejs/_loader") -%>
<title>Homé Company | Servers</title>
<link rel="stylesheet" href="styles/members.css">

<%- include("partials/ejs/_banner") -%>

<div class="team">
<div class="inner">

<h1>Homé Company Olarak "Kişi Sayısı" Üye ile Hizmet Veriyoruz!</h1>

<div class="member">
  <a href="https://discord.gg/"><img src="SUNUCU FOTOĞRAF"></a>
  <div class="name">SUNUCU ADI</div>
  <div class="description admin" style="color: var(--founder);"></i> ÜYE SAYISI</div>  
</div>

//Üstteki kısmı kopyalarak devam edebilirsiniz.

<script>
</script>
</div>
</section>

<%- include("partials/ejs/_navbar") -%>
<%- include("partials/ejs/_footer") -%>
