<!-- * OPEN GRAPH PROTOCOL * -->
<meta name="twitter:card" content="summary">
<meta property="theme-color" content="#FF4654">
<meta name="og:description" content="Homé Company, Discord botu olanların botlarını büyütmeleri için kurulmuş bir kuruluştur.">
<meta name="og:type" content="website">
<meta name="og:title" content="Homé Company">
<meta name="og:image" content="https://home-company.xyz/images/homecompany.png">
<meta name="og:image:width" content="200">
<meta name="og:image:height" content="200">
<link rel="icon" href="https://home-company.xyz/images/homecompany.png">

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>